{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "xmlSelfClosingSpace": true,
    "bracketSameLine": false,
    "xmlWhitespaceSensitivity": "ignore"
  }